{% extends 'base.html' %}

{% load staticfiles %}
{% block contents %}
    <link rel="stylesheet" type="text/css" href={% static 'appointment/scss/advanced-search.css' %}>
    <script type="text/javascript">

        $(document).ready(function () {
            $('select').material_select();


            $(".datepicker").pDatepicker({
                observer: true,
                justSelectOnDate: true,
                onSelect: function () {
                    $('.datepicker').val($('.datepicker').val().split(" ")[0])
                },
                onShow: function () {
                    $('.datepicker').val($('.datepicker').val().split(" ")[0])
                }

            });

            $(".datepicker").val(' ');

        });


    </script>
    <div class=" _search-box">


        <div class="row">

            <form class="col offset-s6" method="post">

                {% csrf_token %}
                {% for field in form %}
                    {% if field.label == 'تاریخ' %}

                        <div class="input-field col s6 right">
                            <label for={{ field.id_for_label }}>{{ field.label }}</label>
                            <input type="text" class="datepicker" name="date"/>
                        </div>

                    {% else %}

                        <div class="input-field col s6 right">
                            {{ field }}
                            <label for={{ field.id_for_label }}>{{ field.label }}</label>
                        </div>

                    {% endif %}

                {% endfor %}
                <button class=" btn-large waves-effect waves-light left col s2" type="submit" name="action">جست‌وجو
                </button>

            </form>
        </div>

    </div>
    {% if result != None %}
        <div class="row _result-box">

            {% if result %}
                <table class="bordered">
                    <thead>
                    <tr>
                        <th data-field="id">نام</th>
                        <th data-field="name">تخصص</th>
                        <th data-field="price">آدرس مطب</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for res in result %}

                        <tr>
                            <td>
                                <a href={% url 'appointment:detail' res.id %}>
                                    {{ res.user.user.first_name }} {{ res.user.user.last_name }}                                                        </a>
                            </td>
                            <td>{{ res.expertise }}</td>
                            <td>{{ res.office_address }}</td>

                        </tr>


                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>موردی یافت نشد.</p>
            {% endif %}
        </div>

    {% endif %}


{% endblock %}