{% extends 'base.html' %}

{% load staticfiles %}
{% block title %}جست‌جو{% endblock %}
{% block contents %}
    <link rel="stylesheet" type="text/css" href={% static 'appointment/scss/advanced-search.css' %}>
    <script type="text/javascript">

        $(document).ready(function () {
            $('select').material_select();


            $(".datepicker").pDatepicker({
                observer: true,
                justSelectOnDate: true,
                onSelect: function () {
                    $('.datepicker').val($('.datepicker').val().split(" ")[0])
                },
                onShow: function () {
                    $('.datepicker').val($('.datepicker').val().split(" ")[0])
                }

            });

            $(".datepicker").val(' ');

        });


    </script>
    <div class=" _search-box">

        <div class="row">

            <form class="col offset-s6" method="post">

                {% csrf_token %}
                {% for field in form %}
                    {% if field.label == 'تاریخ' %}

                        <div class="input-field col s6 right">
                            <label for={{ field.id_for_label }}>{{ field.label }}</label>
                            <input type="text" class="datepicker" name="date"/>
                        </div>

                    {% else %}

                        <div class="input-field col s6 right">
                            {{ field }}
                            <label for={{ field.id_for_label }}>{{ field.label }}</label>
                        </div>

                    {% endif %}

                {% endfor %}
                <button class=" btn-large waves-effect waves-light left col s2" type="submit" name="action">جست‌وجو
                </button>

            </form>
        </div>

    </div>
    {% if result != None %}
        <div class="row _result-box">

            {% for res in result %}
                <div class="_kachal">
                    <div class="card">
                        <div class="card-image">
                            {% if res.user.image %}
                                <img src={{ res.user.image.url }}>
                            {% else %}
                                <img src={% static 'images/icon.png' %}>
                            {% endif %}
                        </div>
                        <div class="card-content">
                            <p class="_title">دکتر {{ res.user.user.first_name }} {{ res.user.user.last_name }}</p>
                            <p>{{ res.title }} {{ res.expertise }}</p>
                            <p class="truncate">
                                آدرس مطب:
                                {{ res.office_address }}
                            </p>
                        </div>
                        <div class="card-action">
                            <a href={% url 'appointment:detail' res.id %}>دریافت نوبت </a>
                        </div>
                    </div>
                </div>
            {% empty %}
                <p>موردی یافت نشد.</p>

            {% endfor %}
        </div>

    {% endif %}


{% endblock %}