{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}مشخصات پزشک {% endblock %}
{% block contents %}
    <link rel="stylesheet" href={% static 'appointment/scss/doctor_detail.css' %}>
    <div class="row _doctor-detail">
        <div class="col s3 right _image">
            {% if doctor.user.image %}
                <img class="circle" src={{ doctor.user.image.url }}>
            {% else %}
                <img class="circle" src={% static 'images/doctor.png' %}>
            {% endif %}
        </div>
        <div class="_alaki">
            <div class="col s9  _details">
                <h5>دکتر {{ doctor.user.user.first_name }} {{ doctor.user.user.last_name }}</h5>
                <p class="_expertise">متخصص {{ doctor.expertise }}</p>
                <div class="divider"></div>
                <p class="_title">
                    <span>   آدرس مطب:</span>
                    {{ doctor.office_address }}
                </p>
                <p class="_title">شماره تلفن مطب: {{ doctor.office_phone_number }}</p>
            </div>
        </div>
        <div class="_reserve-title white-text indigo center right">نوبت‌دهی آنلاین</div>
        <div class=" _reserve-time">
            {% if apps %}
                {% for date in apps %}
                    <span class="_date">{{ date.date }}</span>
                    <hr class="grey">

                    <ul class="_plan-box">
                        {% for app in date.apps %}
                            <li onclick="showDialog('{{ date.date }}','{{ app.start_time }}','{{ app.id }}')"
                                class="_date-box  {% if app.patient == None %} z-depth-2 {% endif %}"
                                style="background-color:{% if app.patient == None %}#e1f2ea {% else %} #ffcf93{% endif %};
                                        cursor: {% if app.patient == None %} pointer {% else %} default {% endif %} ;">
                                {{ app.start_time }}

                                تا

                                {{ app.end_time }}
                                <br>
                                {% if app.patient == None %}
                                    خالی
                                {% else %}
                                    رزرو شده
                                {% endif %}

                            </li>
                        {% endfor %}
                    </ul>


                    <br>
                {% endfor %}
            {% else %}
                <p>زمانی برای نوبت‌دهی مشخص نشده است.</p>
            {% endif %}
        </div>
    </div>
    <div id="confirm-dialog" class="modal">
        <div class="modal-content">
            <h5 class="indigo-text">تایید نوبت</h5>
            <div class="divider"></div>
            <p>
                آیا مایل هستید از دکتر
                {{ doctor.user.user.first_name }} {{ doctor.user.user.last_name }}
                در تاریخ
                <span id="date"></span>
                ساعت
                <span id="hour"></span>
                وقت بگیرید؟

            </p>
        </div>
        <div class="modal-footer">
            <form method="post">
                {% csrf_token %}
                <input type="hidden" id="appointment" name="appointment">
                <button type="submit" class=" modal-action modal-close waves-effect waves-green btn-flat btn-large">
                    بله
                </button>

            </form>
            <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat btn-large">خیر</a>

        </div>
    </div>

    <script type="text/javascript">

        function showDialog(date, time, id) {
            {% if not request.user.is_authenticated %}
                $('#login-modal').modal('open');
            {% else %}
                $('#date').text(date);
                $('#hour').text(time);
                $('#appointment').val(id);
                $('#confirm-dialog').modal('open');
            {% endif %}

        }
        $(document).ready(function () {
            $('._reserve-time').persiaNumber();
        })

    </script>

{% endblock %}