{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    مشاهده برنامه
{% endblock %}
{% block contents %}

    <link rel="stylesheet" href={% static "sass/materialize.css" %}>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href={% static "time_picker/jquery.timepicker.css" %} rel="stylesheet">
    <link href={% static "datepicker/persian-datepicker-0.4.5.min.css" %} rel="stylesheet">
    <link href={% static "appointment/scss/reserve_time.css" %} rel="stylesheet">
    <script type="text/javascript" src={% static "jQuery/jquery-2.1.1.min.js" %}></script>
    <script type="text/javascript" src={% static "js/bin/materialize.min.js" %}></script>
    <script type="text/javascript" src={% static "time_picker/jquery.timepicker.min.js" %}></script>
    <script type="text/javascript" src={% static "datepicker/persian-date-0.1.8a.min.js" %}></script>
    <script type="text/javascript" src={% static "datepicker/persian-datepicker-0.4.5.min.js" %}></script>
    <script type="text/javascript" src={% static "persianNumber/persianumber.min.js" %}></script>

    <script type="text/javascript">

        $(document).ready(function () {
            $('._reserve-time').persiaNumber()
        })

    </script>

    <div class="_reserve-time">
        {% for date in apps %}
            {{ date.date }}
            <hr>
            <ul class="_plan-box">
                {% for app in date.apps %}
                    <li class="_date-box z-depth-2"
                        style="background-color:{% if app.patient == None %}#e1f2ea {% else %} #ffcf93{% endif %};
                                cursor: {% if app.patient == None %} pointer {% else %} default {% endif %} ;"
                    >
                        {{ app.start_time }}

                        تا

                        {{ app.end_time }}
                        <br>
                        {% if app.patient == None %}
                            خالی
                        {% else %}
                            رزرو شده
                        {% endif %}

                    </li>
                {% endfor %}
            </ul>


            <br>
        {% endfor %}

    </div>

{% endblock %}
