{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}جست‌جوی مکانی{% endblock %}
{% block contents %}

    <div id="mapholder"
         style="margin:70px auto 70px auto; height: 400px; width: 700px;"></div>

    <script src=https://maps.googleapis.com/maps/api/js?key=AIzaSyBDMOMIy-wVw6u2Hqis6SRbj0JhXe5UsiA&sensor=false"></script>

    <script>

        var data = [
            {
                "user": {
                    "id": 2,
                    "phone_number": "09196855227",
                    "national_code": "0440482022",
                    "image": null,
                    "is_doctor": true,
                    "user": {
                        "id": 3,
                        "password": "pbkdf2_sha256$24000$VkqsUA7T9TdE$1HlY27ENDRctcuXLudwPzSYXXH3FTItk9JU7qcrxEKQ=",
                        "last_login": "2017-02-22T13:59:24.600709Z",
                        "is_superuser": false,
                        "username": "doci",
                        "first_name": "علی",
                        "last_name": "بهجتی",
                        "email": "bahjatia@gmail.com",
                        "is_staff": false,
                        "is_active": true,
                        "date_joined": "2017-02-16T08:02:59.026157Z",
                        "groups": [],
                        "user_permissions": []
                    }
                },
                "diploma": "تخصص",
                "office_address": "قیطریه- خ روشنایی",
                "office_phone_number": "02122670861",
                "lat_location": "35.6",
                "lon_location": "51.3",
                "expertise": {
                    "name": "چشم"
                },
                "insurance": [
                    {
                        "name": "البرز"
                    }
                ],
                "title": "متخصص",
                "id": 1
            },
            {
                "user": {
                    "id": 3,
                    "phone_number": "09888888888",
                    "national_code": "0440482021",
                    "image": null,
                    "is_doctor": true,
                    "user": {
                        "id": 4,
                        "password": "pbkdf2_sha256$24000$QrQnJSC6U8lK$A+c8SEAx//79fKbnpQAKpGZahVOY9UeUpX54GBnkfKo=",
                        "last_login": "2017-02-22T22:36:30.804124Z",
                        "is_superuser": false,
                        "username": "doctor",
                        "first_name": "مونا",
                        "last_name": "ایزدی",
                        "email": "melikabehjati@gmail.com",
                        "is_staff": false,
                        "is_active": true,
                        "date_joined": "2017-02-20T21:17:14.866544Z",
                        "groups": [],
                        "user_permissions": []
                    }
                },
                "diploma": "تخصص",
                "office_address": "تهران- بلوار اندرزگو",
                "lat_location": "35.6",
                "lon_location": "51.4",
                "office_phone_number": "02188888888",
                "expertise": {
                    "name": "چشم"
                },
                "insurance": [
                    {
                        "name": "البرز"
                    },
                    {
                        "name": "ایران"
                    }
                ],
                "title": "متخصص",
                "id": 2
            }
        ];

        window.onload = getLocation();

        var x = document.getElementById("demo");
        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            } else {
                x.innerHTML = "Geolocation is not supported by this browser.";
            }
        }

        function showPosition(position) {

            lat = position.coords.latitude;
            lon = position.coords.longitude;
            latlon = new google.maps.LatLng(lat, lon);

            var mapOptions = {
                center: latlon,
                zoom: 11,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                mapTypeControl: true,
                navigationControlOptions: {style: google.maps.NavigationControlStyle.SMALL}
            };
            var map = new google.maps.Map(document.getElementById("mapholder"),
                    mapOptions);

            var marker = new google.maps.Marker({
                position: latlon,
                map: map,
                title: "you are here now"
            });

            var markers = [];
            var infoWindowContent = [];
            data.forEach(function (d) {
                if (d.lat_location != 'None' && d.lon_location != 'None') {
                    markers.push(['دکتر ' + d.user.user.first_name + ' ' + d.user.user.last_name, d.lat_location, d.lon_location]);
                    infoWindowContent.push(
                            '<div>' +
                            '<span><b>نام دکتر :</b></span>' +
                            '<a href="http://127.0.0.1:8000/appointment/doctor/' + d.id + '/">' + d.user.user.first_name + ' ' + d.user.user.last_name + '</a>' +
                            '<br>' +
                            '<span><b>تخصص: </b></span>' +
                            '<span>' + d.expertise.name + '</span>' +
                            '<br>' +
                            '<span><b>شماره تلفن: </b></span>' +
                            '<span>' + d.user.phone_number + '</span>' +
                            '</div>'
                    )
                }
            });

            var infoWindow = new google.maps.InfoWindow(), i;
            var bounds = new google.maps.LatLngBounds();
            bounds.extend(latlon);
            for (i = 0; i < markers.length; i++) {
                position = new google.maps.LatLng(markers[i][1], markers[i][2]);
                marker = new google.maps.Marker({
                    position: position,
                    map: map,
                    title: markers[i][0]
                });
                google.maps.event.addListener(marker, 'click', (function (marker, i) {
                    return function () {
                        infoWindow.setContent(infoWindowContent[i]);
                        infoWindow.open(map, marker);
                    }
                })(marker, i));
                bounds.extend(position);
            }

            map.fitBounds(bounds);


        }
    </script>

{% endblock %}
