{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    ورود برنامه
{% endblock %}
{% block contents %}
    {#<!DOCTYPE html>#}
    {#<html lang="en">#}
    {#{% load static %}#}
    {#<head>#}
    {#    <meta charset="UTF-8">#}
    {#    <title>دکتریاب</title>#}
    {#    <link rel="stylesheet" href={% static "sass/materialize.css" %}>#}
    {#    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">#}
    <link rel="stylesheet" href={% static 'appointment/scss/set_doctor_free_times.css' %}>
    <link href={% static "time_picker/jquery.timepicker.css" %} rel="stylesheet">
    <link href={% static "datepicker/persian-datepicker-0.4.5.min.css" %} rel="stylesheet">
    <script type="text/javascript" src={% static "jQuery/jquery-3.1.1.min.js" %}></script>
    <script type="text/javascript" src={% static "js/bin/materialize.min.js" %}></script>
    <script type="text/javascript" src={% static "time_picker/jquery.timepicker.min.js" %}></script>
    <script type="text/javascript" src={% static "datepicker/persian-date-0.1.8a.min.js" %}></script>
    <script type="text/javascript" src={% static "datepicker/persian-datepicker-0.4.5.min.js" %}></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $('#start_time , #end_time').timepicker({'step': 15});

            $('select').material_select();

            function clean_date(str) {
                $(str).val($(str).val().split(" ")[0])
            }

            function custom_date_picker(str) {
                $(str).pDatepicker({
                    observer: true,
                    justSelectOnDate: true,
                    onSelect: function () {
                        clean_date(str)
                    },
                    onShow: function () {
                        clean_date(str)
                    }

                });
            }

            custom_date_picker(".datepicker1")
            custom_date_picker(".datepicker2")


            $(".datepicker1").val(' ');
            $(".datepicker2").val(' ');

        })

    </script>

    <div class="row">
        <form class="col s12" method="post">

            {% csrf_token %}

            <div class="card _free-times-card">
                <div class="card-content black-text _content">
                    <i class=" material-icons prefix ">today</i>
                    <span class="_span"> تاریخ </span>
                    <hr>
                    <div class="row" dir="rtl">
                        <div class="col s6">
                            <label for="end_date"> تا </label>
                            <input type="text" class="datepicker1" name="end_date"/>

                        </div>

                        <div class="col s6">
                            <label for="start_date">از </label>
                            <input type="text" class="datepicker2" name="start_date"/>
                        </div>
                    </div>

                    <i class=" material-icons prefix">schedule</i>
                    <span class="_span">ساعت </span>
                    <hr>
                    <div class="row" dir="rtl">
                        <div class="col s6">
                            <label for="end_time"> تا </label>
                            <input class="stepTimePicker" id="end_time" name="end_time"/>
                        </div>

                        <div class="col s6">
                            <label for="start_time">از </label>
                            <input class="stepTimePicker" id="start_time" name="start_time">
                        </div>
                    </div>

                    <i class=" material-icons prefix">watch</i>
                    <span class="_span">مدت زمان هر نوبت </span>
                    <hr>
                    <div class="input-field col s12">
                        <select name="visit_duration">
                            <option value="15"> ۱۵ دقیقه</option>
                            <option value="30"> ۳۰ دقیقه</option>
                            <option value="45"> ۴۵ دقیقه</option>
                            <option value="60"> ۱ ساعت</option>
                        </select>
                    </div>
                    <button class="btn waves-effect waves-light left" type="submit" name="action">ثبت
                    </button>
                    <span style="color: {% if response == True %} green {% else %} red {% endif %} ; display: block; margin:auto ;  ">
                        {{ message }}
                    </span>

                </div>


            </div>


        </form>
    </div>
{% endblock %}
