{% for field in form %}
    <div class="row">

        {% if field.name == 'image' %}
            <div class="file-field input-field">
                <div class="btn right grey">
                    <span>عکس</span>
                    {{ field }}
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" value={{ my_user.imagename|default_if_none:"" }}>
                </div>
            </div>
        {% elif field.name == 'contract' %}
            <div class="file-field input-field">
                <div class="btn right grey">
                    <span>قرارداد</span>
                    {{ field }}
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                </div>
            </div>
        {% elif f.name == 'lat_location' %}
            {{ f.as_hidden }}
        {% elif f.name == 'lon_location' %}
            {{ f.as_hidden }}
        {% else %}

            <div class="input-field">

                {{ field }}
                <label for={{ field.id_for_label }}>
                    {% if field.field.required %}
                        *
                    {% endif %}
                    {{ field.label }}
                </label>
            </div>
        {% endif %}
    </div>
{% endfor %}
