{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    مشاهده نوبت‌ها
{% endblock %}
{% block contents %}
    <link rel="stylesheet" href={% static 'user/scss/appointments_list.css' %}>
    {% verbatim %}

        <div class="_appointments" ng-app="UserAppointments" ng-controller="UserAppointmentsController as ctrl">
            <table class="striped _table" ng-if="ctrl.appointments">
                <thead>
                <tr>
                    <th>ردیف</th>
                    <th>تاریخ</th>
                    <th>ساعت</th>
                    <th>پزشک</th>
                    <th>وضعیت</th>
                </tr>
                </thead>
                <tr ng-repeat="appointment in ctrl.appointments">
                    <td>{{ $index + 1 }}</td>
                    <td>{{ appointment.date }}</td>
                    <td>{{ appointment.start_time }}</td>
                    <td>دکتر {{ appointment.doctor.user.user.username }}</td>
                    <td>{{ appointment.get_status }}</td>
                </tr>
            </table>
            <p ng-hide="ctrl.appointments">
                نوبتی دریافت نگردیده‌است.
            </p>
        </div>
    {% endverbatim %}

    <script type="text/javascript">
        (function () {
            angular.module('UserAppointments', [])
                .factory('UserAppointmentsGetter', function ($http) {
                    var service = {
                        query: query
                    };
                    return service;

                    function fetchData(response) {
                        return response.data;
                    }

                    function query() {
                        return $http.get('http://127.0.0.1:8000/user/api/get-appointments').then(fetchData);
                    }
                })
                .controller('UserAppointmentsController', function (UserAppointmentsGetter) {
                    var vm = this;
                    UserAppointmentsGetter.query().then(function (data) {
                        vm.appointments = data;
                    })
                });
        })();

    </script>
{% endblock %}