{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    مشاهده نوبت‌ها
{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href={% static 'user/scss/appointments_list.css' %}>
{% endblock %}
{% block contents %}{% endblock %}
{% block angularjs %}
    {% verbatim %}

        <div class="_appointments" ng-controller="UserAppointmentsController as ctrl">
            <table class="striped _table" ng-show="ctrl.appointments.length">
                <thead>
                <tr>
                    <th>ردیف</th>
                    <th>تاریخ</th>
                    <th>ساعت</th>
                    <th>پزشک</th>
                    <th>وضعیت</th>
                </tr>
                </thead>
                <tr ng-repeat="appointment in ctrl.appointments">
                    <td>{{ $index + 1 }}</td>
                    <td>{{ appointment.date }}</td>
                    <td>{{ appointment.start_time }}</td>
                    <td>
                        دکتر {{ appointment.doctor.user.user.first_name }} {{ appointment.doctor.user.user.last_name }}</td>
                    <td>{{ appointment.get_status }}</td>
                </tr>
            </table>
            <p ng-hide="ctrl.appointments.length">
                شما تا به حال نوبتی دریافت نکرده‌اید. </p>
        </div>
    {% endverbatim %}
{% endblock %}

{% block javascript %}
    <script src={% static "user/js/appointment-list/appointments-list-controller.js" %}></script>
    <script src={% static "user/js/appointment-list/appointments-list-service.js" %}></script>
{% endblock %}