{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    مشاهده برنامه
{% endblock %}
{% block contents %}
    <link href={% static "user/scss/doctor-plan.css" %} rel="stylesheet">

    <script type="text/javascript">

        $(document).ready(function () {

            {#            $('#persian-body').persiaNumber();#}

            function clean_date(str) {
                $(str).val($(str).val().split(" ")[0])
            }

            $(".date-picker").pDatepicker({
                observer: true,
                justSelectOnDate: true,
                onSelect: function () {
                    clean_date(".date-picker")
                    $("#plan-form").submit();
                },
                onShow: function () {
                    clean_date(".date-picker")
                }

            });
            $(".date-picker").val("{{ date }}")


        })

    </script>

    <div id="persian-body" class="_doctor-plan">


        <form class="_date-picker" method="post" id="plan-form">

            {% csrf_token %}

            <label for="date"> تاریخ مورد نظر را انتخاب نمایید. </label>
            <input type="text" class="date-picker" name="date"/>
            </button>

        </form>

        <div class="_plan-box">
            {% if apps == None %}
                <div class="_no-plan">

                    برنامه‌ای برای این تاریخ ثبت نشده است.
                </div>

            {% endif %}
            {% for app in apps %}
                <div class="row"
                     style="background-color:{% if app.patient == None %}#e1f2ea {% else %} #ffcf93{% endif %}; margin: 10px ">

                    <div class="col s8 _left-box">
                        {% if app.patient != None %}

                            نام بیمار : {{ app.patient.user.first_name }} {{ app.patient.user.last_name }}
                            <br>
                            شماره تماس :   {{ app.patient.phone_number }}
                        {% else %}
                            وقت آزاد
                        {% endif %}


                    </div>

                    <div class="col s4 _right-box">

                        {{ app.start_time }} تا {{ app.end_time }}
                        <br>
                        {{ app.date }}


                    </div>

                </div>
            {% endfor %}
        </div>


    </div>
{% endblock %}
