{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    تغییر رمز عبور
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href={% static 'user/scss/register.css' %}>
{% endblock %}

{% block contents %}
    <div class="row _register-form">
        {% if form.errors %}
            {% for error in form.non_field_errors %}
                <p class="right red-text">{{ error }}</p>
            {% endfor %}
        {% endif %}

        <form class="col s12" action="" method="post">
            {% csrf_token %}
            {% include "user/forms/form.html" with form=form %}
            <button class=" btn-large waves-effect waves-light left _submit-btn" type="submit" name="action">ثبت تغییرات
            </button>
        </form>
    </div>
{% endblock %}