{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    ورود برنامه
{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href={% static 'user/scss/set_doctor_free_times.css' %}>
{% endblock %}

{% block contents %}

    <div class="row">
        <form class="col s12" id="form_data">

            {% csrf_token %}

            <div class="card _free-times-card">
                <div class="card-content black-text _content">
                    <i class=" material-icons prefix ">today</i>
                    <span class="_span"> تاریخ </span>
                    <hr>
                    <div class="row" dir="rtl">
                        <div class="col s6">
                            <label for="end_date"> تا </label>
                            <input type="text" id="datepicker1" name="end_date"/>

                        </div>

                        <div class="col s6">
                            <label for="start_date">از </label>
                            <input type="text" id="datepicker2" name="start_date"/>
                        </div>
                    </div>

                    <i class=" material-icons prefix">schedule</i>
                    <span class="_span">ساعت </span>
                    <hr>
                    <div class="row" dir="rtl">
                        <div class="col s6">
                            <label for="end_time"> تا </label>
                            <input class="stepTimePicker" id="end_time" name="end_time"/>
                        </div>

                        <div class="col s6">
                            <label for="start_time">از </label>
                            <input class="stepTimePicker" id="start_time" name="start_time">
                        </div>
                    </div>

                    <i class=" material-icons prefix">watch</i>
                    <span class="_span">مدت زمان هر نوبت </span>
                    <hr>
                    <div class="input-field col s12">
                        <select name="visit_duration">
                            <option value="15"> ۱۵ دقیقه</option>
                            <option value="30"> ۳۰ دقیقه</option>
                            <option value="45"> ۴۵ دقیقه</option>
                            <option value="60"> ۱ ساعت</option>
                        </select>
                    </div>
                    <button class="btn waves-effect waves-light left"
                            onclick="submit_form()">ثبت
                    </button>
                    <span style="color: {% if success == True %} green {% else %} red {% endif %} ; display: block; margin:auto ;  ">
                    </span>

                </div>


            </div>


        </form>
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">

        function getFormData($form) {
            var unindexed_array = $form.serializeArray();
            var indexed_array = {};

            $.map(unindexed_array, function (n) {
                indexed_array[n['name']] = n['value'];
            });

            return indexed_array;
        }

        function submit_form() {
            var $form = $("#form_data");
            var data = getFormData($form);
            console.log('in submit');
            console.log(data);
            $.post('http://127.0.0.1:8000/user/save_free_time/', data);
            location.reload();
        }

        $(document).ready(function () {


            $('#start_time , #end_time').timepicker({'step': 15});

            $('select').material_select();

            function custom_date_picker(str) {
                $(str).pDatepicker({
                    observer: true,
                    justSelectOnDate: true,
                    format: "YYYY-MM-DD"
                });
            }

            custom_date_picker("#datepicker1");
            custom_date_picker("#datepicker2");
            $("#datepicker1").val(' ');
            $("#datepicker2").val(' ');

        })

    </script>

{% endblock %}