{% for f in form %}
    <div class="row">
        {% if f.name == 'image' %}
            <div class="file-field input-field">
                <div class="btn right grey">
                    <span>عکس</span>
                    {{ f }}
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" value={{ myuser.imagename|default_if_none:"" }}>
                </div>
            </div>
        {% elif f.name == 'contract' %}
            <div class="file-field input-field">
                <div class="btn right grey">
                    <span>قرارداد</span>
                    {{ f }}
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                </div>
            </div>
        {% else %}

            <div class="input-field">
                {{ f }}
                <label for={{ f.id_for_label }}>{{ f.label }}</label>
            </div>
        {% endif %}
    </div>
{% endfor %}