{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    پروفایل
{% endblock %}

{% block stylesheet %}
    <link type="text/css" rel="stylesheet" href={% static "user/scss/register.css" %}>
{% endblock %}

{% block contents %}
    <div class="row _register-form">

        <div class="input-field col s12">
            <input disabled value={{ my_user.user.username }} id="disabled" type="text" class="validate">
            <label for="disabled">نام کاربری</label>
        </div>
        <form enctype="multipart/form-data" class="col s12" action="" method="post">
            {% csrf_token %}
            {% include "user/forms/form.html" with form=user_form %}
            {#            {% include "user/forms/form.html" with form=my_user_form %}#}
            {% include "user/forms/form.html" with form=doctor_form %}
            <button class=" btn-large waves-effect waves-light left _submit-btn" type="submit" name="action">ثبت تغییرات
            </button>
            <a href="/user/edit-password" class=" btn-large waves-effect waves-light _submit-btn"> تغییر رمز عبور </a>
        </form>
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        $(document).ready(function () {
            $(":input").addClass("validate");
            $('select').material_select();
            {% include "user/forms/form_errors.html" with form=user_form %}
            {% include "user/forms/form_errors.html" with form=my_user_form %}
            {% include "user/forms/form_errors.html" with form=doctor_form %}
        });
    </script>

{% endblock %}