{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    ثبت نام
{% endblock %}
{% block contents %}

    <link type="text/css" rel="stylesheet" href={% static "user/scss/register.css" %}>

    <script type="text/javascript">
        <!--
        function showForm() {
            var doctorForm = $("#doctor-form");
            ($("#is-doctor:checked").length == 1) ? doctorForm.show() : doctorForm.hide();
        }
        //-->
        $(document).ready(function () {

            $(":input").addClass("validate");
            $('select').material_select();

            {% if userprofileform.errors %}
                {% for field in userprofileform %}
                    {% for error in field.errors %}
                        $('#{{ field.id_for_label }}').prop('required', true);
                        $('#{{ field.id_for_label }}').removeClass('validate');
                        $('#{{ field.id_for_label }}').addClass('invalid');
                        var $label = $('label[for=' + '{{ field.id_for_label }}' + ']');

                        $label.attr('data-error', '{{ error }}');

                    {% endfor %}
                {% endfor %}
                {% for error in userprofileform.non_field_errors %}

                {% endfor %}
            {% endif %}
            {% if userform.errors %}
                {% for field in userform %}
                    {% for error in field.errors %}
                        $('#{{ field.id_for_label }}').removeClass('validate');
                        $('#{{ field.id_for_label }}').addClass('invalid');
                        var $label = $('label[for=' + '{{ field.id_for_label }}' + ']');

                        $label.attr('data-error', '{{ error }}');

                    {% endfor %}
                {% endfor %}
                {% for error in userform.non_field_errors %}

                {% endfor %}
            {% endif %}
            {% if doctorprofile.errors %}
                {% for field in doctorprofile %}
                    {% for error in field.errors %}
                        $('#{{ field.id_for_label }}').addClass('invalid');
                        var $label = $('label[for=' + '{{ field.id_for_label }}' + ']');
                        $label.attr('data-error', '{{ error }}');
                        $label.addClass('active');

                    {% endfor %}
                {% endfor %}
                {% for error in doctorprofile.non_field_errors %}

                {% endfor %}
            {% endif %}
        });
    </script>
    <div class="row _register-form">
        {% if userform.errors %}
            {% for error in userform.non_field_errors %}
                <p class="right red-text">{{ error }}</p>
            {% endfor %}
        {% endif %}
        <form enctype="multipart/form-data" class="col s12" action="" method="post">
            {% csrf_token %}

            {% include "user/form.html" with form=userform %}
            {% include "user/form.html" with form=userprofileform %}
            <p>
                <input id="is-doctor" type="checkbox" class="filled-in" name="c1" onclick="showForm()">
                <label for="is-doctor">پزشک هستم</label>
            </p>
            <div id="doctor-form" style="display:none">
                {% for f in doctorprofile %}
                    {% if f.name == 'contract' %}
                        <div class="file-field input-field">
                            <div class="btn right grey">
                                <span>قرارداد</span>
                                {{ f }}
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text">
                            </div>
                        </div>
                    {% else %}
                        <div class="row">
                            <div class="input-field">
                                {{ f }}
                                <label for={{ f.id_for_label }}>{{ f.label }}</label>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <input type="hidden" name="next" value="{{ request.get_full_path }}"/>

            <button class=" btn-large waves-effect waves-light left _submit-btn" type="submit" name="action">ثبت‌نام
            </button>
        </form>

    </div>

{% endblock %}
