{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    ثبت نام
{% endblock %}
{% block contents %}

    <link type="text/css" rel="stylesheet" href={% static "user/scss/register.css" %}>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDMOMIy-wVw6u2Hqis6SRbj0JhXe5UsiA&sensor=false"></script>
    <script type="text/javascript">
        <!--

        function showForm() {
            getLocation();
            var doctorForm = $("#doctor-form");
            ($("#is-doctor:checked").length == 1) ? doctorForm.show() : doctorForm.hide();
        }

        var x = document.getElementById("demo");
        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            } else {
                x.innerHTML = "Geolocation is not supported by this browser.";
            }
        }

        function showPosition(position) {

            lat = position.coords.latitude;
            lon = position.coords.longitude;
            $('#id_doctor-lat_location').val(position.coords.latitude);
            $('#id_doctor-lon_location').val(position.coords.longitude);
            latlon = new google.maps.LatLng(lat, lon);

            var mapOptions = {
                center: latlon,
                zoom: 13,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                mapTypeControl: true,
                navigationControlOptions: {style: google.maps.NavigationControlStyle.SMALL}
            };
            var map = new google.maps.Map(document.getElementById("mapholder"),
                    mapOptions);

            var marker = new google.maps.Marker({
                position: latlon,
                map: map,
                title: "you are here now"
            });
        }

        //-->
        $(document).ready(function () {

            $(":input").addClass("validate");
            $('select').material_select();

            {#            {% if my_user_form.errors %}#}
            {#                {% for field in my_user_form %}#}
            {#                    {% for error in field.errors %}#}
            {#                        $('#{{ field.id_for_label }}').prop('required', true);#}
            {#                        $('#{{ field.id_for_label }}').removeClass('validate');#}
            {#                        $('#{{ field.id_for_label }}').addClass('invalid');#}
            {#                        var $label = $('label[for=' + '{{ field.id_for_label }}' + ']');#}
            {##}
            {#                        $label.attr('data-error', '{{ error }}');#}
            {##}
            {#                    {% endfor %}#}
            {#                {% endfor %}#}
            {#                {% for error in my_user_form.non_field_errors %}#}
            {##}
            {#                {% endfor %}#}
            {#            {% endif %}#}
            {% if user_form.errors %}
                {% for field in user_form %}
                    {% for error in field.errors %}
                        {#                        the below one added by masoumeh#}
                        $('#{{ field.id_for_label }}').prop('required', true);
                        $('#{{ field.id_for_label }}').removeClass('validate');
                        $('#{{ field.id_for_label }}').addClass('invalid');
                        var $label = $('label[for=' + '{{ field.id_for_label }}' + ']');

                        $label.attr('data-error', '{{ error }}');

                    {% endfor %}
                {% endfor %}
                {% for error in user_form.non_field_errors %}

                {% endfor %}
            {% endif %}
            {% if doctor_form.errors %}
                {% for field in doctor_form %}
                    {% for error in field.errors %}
                        $('#{{ field.id_for_label }}').addClass('invalid');
                        var $label = $('label[for=' + '{{ field.id_for_label }}' + ']');
                        $label.attr('data-error', '{{ error }}');
                        $label.addClass('active');

                    {% endfor %}
                {% endfor %}
                {% for error in doctor_form.non_field_errors %}

                {% endfor %}
            {% endif %}
        });
    </script>
    <div class="row _register-form">
        {% if user_form.errors %}
            {% for error in user_form.non_field_errors %}
                <p class="right red-text">{{ error }}</p>
            {% endfor %}
        {% endif %}
        <form enctype="multipart/form-data" class="col s12" action="" method="post">
            {% csrf_token %}

            {% include "user/form.html" with form=user_form %}
            {#            {% include "user/form.html" with form=my_user_form %}#}
            <p>
                <input id="is-doctor" type="checkbox" class="filled-in" name="c1" onclick="showForm()">
                <label for="is-doctor">پزشک هستم</label>
            </p>
            <div id="doctor-form" style="display:none">
                {% include "user/form.html" with form=doctor_form %}
                <div id="mapholder"
                     style="margin-left: auto; margin-top: auto; height: 300px; width: 600px;"></div>

            </div>
            <input type="hidden" name="next" value="{{ request.get_full_path }}"/>

            <button class=" btn-large waves-effect waves-light left _submit-btn" type="submit" name="action">ثبت‌نام
            </button>
        </form>

    </div>

{% endblock %}