{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    برنامه‌ هفتگی
{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href={% static 'user/scss/weekly_plan.css' %}>
{% endblock %}
{% block angularjs %}
    <div class="row">
        <div class="_weekly-plan" ng-controller="WeeklyPlanController as ctrl">
            {% verbatim %}
                <form class=" _date-picker" id="plan-form">
                    <label for="date"> تاریخ مورد نظر برای شروع هفته را انتخاب نمایید. </label>
                    <input type="text" class="date-picker" name="date" ng-model="ctrl.date"
                           ng-value="ctrl.schedule[0].date" ng-click="ctrl.clicked()"/>
                </form>
                <table class="centered" ng-if="ctrl.min < ctrl.max">
                    <thead>
                    <th></th>
                    <th ng-repeat="day in ctrl.schedule">{{ day.date }}</th>
                    </thead>
                    <tbody id="schedule">
                    <tr ng-repeat="row in ctrl.table track by $index" ng-if="$index > ctrl.min && $index<ctrl.max"
                        ng-class=" $index % 4 == 0 ?'_border':''">
                        <th>{{ row[0] }}</th>
                        <td ng-repeat="cell in row track by $index" ng-class="cell==0? '_empty':'_full'"
                            ng-if="$index > 0">
                            <span ng-if="cell== 2">وقت ویزیت</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <p ng-if="ctrl.max == 0">برنامه‌ای برای این هفته وارد نشده است.</p>
            {% endverbatim %}

        </div>
    </div>
{% endblock %}
{% block javascript %}
    <script src={% static "user/js/weekly-plan/weekly-plan-controller.js" %}></script>
    <script src={% static "user/js/weekly-plan/weekly-plan-service.js" %}></script>
{% endblock %}
