._search-box {
  padding: 50px;
  min-height: 20vw;
  overflow: hidden;
  background-image: url("/static/images/encontre.png");
  background-size: cover;

}

._result-box {
  padding: 50px;
  margin: 10px;
}