.logo-img {
  height: 64px;
  width: 64px;
}

body {
  text-align: right !important;
  direction: rtl;
}

#login-modal {
  width: 40%;

  ._divider {
    margin-bottom: 10px;
  }
  .modal-content {
    padding-bottom: 10px;
  }
}

#slide-out {
  padding: 0;
  direction: ltr;
  text-align: left;

  ._image {
    object-fit: cover;
    height: 200px;
  }
  ._user-image {
    object-fit: cover;
  }
}