{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}دکتریاب{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href={% static "fonts/yekan/weblogma_yekan.css" %}>
    <link type="text/css" rel="stylesheet" href={% static "scss/base.css" %}>
    <link type="text/css" rel="stylesheet" href={% static "Materialize/sass/materialize.css" %}/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" href={% static "images/doctor_checkup_logo.png" %}>
    <link href={% static "time_picker/jquery.timepicker.css" %} rel="stylesheet">
    <link href={% static "datepicker/persian-datepicker-0.4.5.min.css" %} rel="stylesheet">
    {% block  stylesheet %}{% endblock %}
    <script type="text/javascript" src={% static "jQuery/jquery-2.1.1.min.js" %}></script>
    <script type="text/javascript" src={% static "Materialize/js/bin/materialize.min.js" %}></script>
    <script type="text/javascript" src={% static "time_picker/jquery.timepicker.min.js" %}></script>
    <script type="text/javascript" src={% static "datepicker/persian-date-0.1.8a.min.js" %}></script>
    <script type="text/javascript" src={% static "datepicker/persian-datepicker-0.4.5.min.js" %}></script>
    <script type="text/javascript" src={% static "persianNumber/persianumber.min.js" %}></script>
    <script type="text/javascript" src={% static "angular/angular.js" %}></script>
    <script type="text/javascript" src={% static "js/app-module.js" %}></script>
    <script type="text/javascript" src={% static "js/app-config.js" %}></script>
    <script type="text/javascript" src={% static "js/base/base-controller.js" %}></script>
    <script type="text/javascript" src={% static "js/base/base-accounts-service.js" %}></script>

</head>

<body id="persian-body">
<div class="navbar-fixed">
    <nav class="">
        <div class="nav-wrapper">
            <a href="/" class="brand-logo right">دکتریاب<i class="material-icons left">search</i></a>
            {#            <img class="logo-img" src={% static "images/doctor_checkup_logo.png" %}>#}
            <ul class="left">
                {% if request.user.is_authenticated %}
                    <li><a href="#" data-activates="slide-out" class="button-collapse"><i
                            class="material-icons">person</i></a></li>
                    <li>{{ request.user.username }}</li>

                {% else %}
                    <li><a href="#login-modal">ورود<i class="material-icons left">input</i></a></li>
                    <li><a href={% url 'user:register' %}><i class="material-icons left">person</i>ثبت‌نام</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
</div>
<ul id="slide-out" class="side-nav">
    <li>
        <div class="userView">
            <div class="background">
                <img class="_image" src={% static 'images/bg2.png' %}>
            </div>
            <a href="#!user">
                {% if  request.user.myuser.image %}
                    <img class="circle ._user-image" src='{{ request.user.myuser.image.url }}'>
                {% else %}
                    <img class="circle" src={% static 'images/silhouette.png' %}>
                {% endif %}
            </a>
            <a href="#!name"><span
                    class="white-text name">{{ request.user.first_name }} {{ request.user.last_name }}</span></a>
            <a href="#!email"><span class="white-text email">{{ request.user.email }}</span></a>
        </div>
    </li>
    <li><a href={% url 'user:EditProfile' %}><i class="material-icons">person</i>صفحه کاربری</a></li>
    <li><a href={% url 'user:EditPassword' %}><i class="material-icons">edit</i>تغییر رمز عبور</a></li>
    <li><a href={% url 'user:view_appointments' %}><i class="material-icons">view_list</i>مشاهده نوبت‌ها</a></li>

    {% if request.user.myuser.is_doctor %}
        <li>
            <div class="divider"></div>
        </li>
        <li><a href="/user/enter-plan"><i class="material-icons">schedule</i>ورود برنامه</a></li>
        <li><a href="/user/plan"><i class="material-icons">today</i>مشاهده برنامه روزانه</a></li>
        <li><a href="/user/weekly-plan"><i class="material-icons">event_note</i>مشاهده برنامه هفتگی</a></li>

    {% endif %}
    <li>
        <div class="divider"></div>
    </li>
    <li><a class="waves-effect logout" href={% url 'user:logout' %}><i
            class="material-icons left">power_settings_new</i>خروج</a></li>
</ul>

<div ng-app="Base">
    {% block angularjs %}
    {% endblock %}
    {% verbatim %}
        <div ng-controller="BaseController as ctrl" id="login-modal" class="modal">
            <div class="modal-content">
                <h5 class="indigo-text"> ورود به حساب کاربری</h5>
                <div class="divider indigo _divider"></div>
                <span class="red-text">{{ ctrl.message }}</span>
                <div class="row">
                    <form class="col s12" method="post" ng-submit="ctrl.submitLogin()" id="login_form">
                        <div class="row">
                            <div class="input-field col s10">
                                <input id="id_username" maxlength="20" name="username" type="text"
                                       ng-model="ctrl.username">
                                <label for="id_username">نام ‌کاربری</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s10">
                                <input id="id_password" name="password" type="password" ng-model="ctrl.password">
                                <label for="id_password">گذرواژه</label>
                            </div>
                        </div>
                        <button class=" btn-large waves-effect waves-light btn-flat left" type="submit" name="action">
                            ورود
                        </button>
                        <input type="hidden" name="next" value="/"/>

                        <a class=" modal-action modal-close waves-effect waves-green btn-flat btn-large left"
                           href="/user/register" }>
                            ثبت نام
                        </a>
                    </form>

                </div>
            </div>
        </div>
    {% endverbatim %}
</div>

{% block contents %}

{% endblock %}
<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">دست‌رسی سریع</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href={% url 'home' %}>خانه</a></li>
                    <li><a class="grey-text text-lighten-3" href="#login-modal">ورود</a></li>
                    <li><a class="grey-text text-lighten-3" href={% url 'user:register' %}>ثبت‌نام</a></li>
                    <li><a class="grey-text text-lighten-3" href={% url 'search' %}>جستجو پیشرفته</a></li>
                    <li><a class="grey-text text-lighten-3" href={% static 'user/contract/contract.pdf' %}>دانلود فرم
                        قرارداد</a></li>
                </ul>
            </div>
            <div class="col l6 s12">
                <h5 class="white-text">دکتریاب</h5>
                <p class="grey-text text-lighten-4">با استفاده از این برنامه پزشک نزدیک خودتان را پیدا کنید و به سادگی
                    وقت بگیرید.</p>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © تمامی حقوق متعلق به گروه دکتریاب می‌باشد.
        </div>
    </div>
</footer>
</body>

{% block javascript %}{% endblock %}
<script type="text/javascript">
    $(document).ready(function () {
        $('a.logout').on("click", function (e) {
            e.preventDefault();
            window.localStorage.setItem('token', '');
            window.location = $(this).attr("href");
        });
        $("#persian-body").persiaNumber();
        $('.modal').modal();
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'success' %}
                    Materialize.toast('{{ message }}', 3000, 'rounded');
                {% else %}
                    $('#login-modal').modal('open');
                {% endif %}
            {% endfor %}
        {% endif %}
        $(".button-collapse").sideNav();
    });

</script>
</html>