{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ویرایش</title>
    <link type="text/css" rel="stylesheet" href={% static "register.css" %}>
    <link rel="stylesheet" type="text/css" href={% static "fonts/yekan/weblogma_yekan.css" %}>
    <link type="text/css" rel="stylesheet" href={% static "sass/materialize.css" %}/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" href={% static "images/doctor_checkup_logo.png" %}>
    {#    <link href={% static "time_picker/jquery.timepicker.css" %} rel="stylesheet" type="text/css">#}
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src={% static "js/bin/materialize.min.js" %}></script>
    <script type="text/javascript">
        <!--
        function showForm() {
            var doctorForm = $("#doctor-form");
            ($("#is-doctor:checked").length == 1) ? doctorForm.show() : doctorForm.hide();
        }
        //-->
        $(document).ready(function () {

            $(":input").addClass("validate");

        });
    </script>

</head>
<body>
<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a href="/" class="brand-logo right">دکتریاب</a>
            <ul class="left hide-on-med-and-down">
                <li><a href="/user/logout"><i class="material-icons left">power_settings_new</i>خروج</a></li>

                <li><a href="/appointment"><i class="material-icons left">edit</i>ورود برنامه</a></li>
            </ul>
        </div>

    </nav>
</div>

<div class="row _register-form">

    <form class="col s12" action="" method="post">
        {% csrf_token %}
        {% include "user/form.html" with form=form_user %}
        {% include "user/form.html" with form=form_myuser %}
        {% include "user/form.html" with form=form_doctor %}
        <button class=" btn-large waves-effect waves-light left _submit-btn" type="submit" name="action">ثبت تغییرات
        </button>
    </form>
</div>
</body>
</html>